body {
    background-color: #2c2f33;
}

.blue {
	color: #7289da;
}

.white {
	color: #ffffff;
}

.light {
	color: #99aab5;
}

.dark {
	color: #23272a;
}

.link {
	color: #7289da;
}

.link:hover {
	color: #667BC4;
	opacity: 0.9;
}